doctype html
html(lang="en")
  head
    title= title
  body
    h3= title

    div#links
      p Thanks for setting up a new poll! Stay on this page to view results.

      div
        a(href='polls/#{identifier.id}') Vote here

      div
        a(href='polls/#{identifier.id}/admin') Permanent admin link

    div#connection-count

    div#poll-display

    div#instructions

    h5= poll.question

    div#choices
      button#button-1= poll.a
      button#button-2= poll.b
      button#button-3= poll.c

    div#vote-count

    button#close-poll.
      Close Poll

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
