doctype html
html(lang="en")
  head
    title= title
  body

    div#status-message

    div#links
      p Thanks for setting up a poll! Stay on this page to view results.

      ul
        li
          a(href='/polls/#{identifier.id}') Voting Page: Send this link to voters.
        li
          a(href='/polls/#{identifier.id}/admin') Admin Page: Use this link to view results.

    div#connection-count

    div#poll-display

    div#instructions

    h2= 'Poll Question: ' + poll.question

    button#current-tally.
      View Results

    button#close-poll.
      Close Poll

    div#vote-count

    div#group-message
      h4 Group Messages
      if poll.messages
        ul
        each val in poll.messages
          li= val
      else
        p No messages to display.

    div#sendMessageToVoters
      h4 Send a New Message

      form(name="add-estimation", method="post")
        div.input
          div.label Your name
          input(type="text", name="name")#name
        div.input
          div.label Send a message to the group
          textarea(name="message", cols="40", rows="5")#message-to-group
        div.actions
          input(type="submit", value="Send")#send-message-to-group

    div
      a(href='/polls') Click here to create a new poll.

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
