doctype html
html(lang="en")
  head
    title= title
  body
    h3= title

    div#links
      p Thanks for setting up a new poll! Stay on this page to view results.

      div
        a(href='/polls/#{identifier.id}') Vote here

      div
        a(href='/polls/#{identifier.id}/admin') Permanent admin link

    div#connection-count

    div#poll-display

    div#instructions

    h5= poll.question

    button#current-tally.
      View Results

    button#close-poll.
      Close Poll

    div#vote-count

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
