doctype html
html(lang="en")
  head
    title= title
  body
    h3= title

    div#status-message

    div#group-message
      h4 Group Messages
      if poll.messages
        ul
        each val in poll.messages
          li= val

    div#connection-count

    div#poll-display

    div#instructions

    h5= poll.question

    div#choices
      button#a= poll.a
      button#b= poll.b
      button#c= poll.c

    div#vote-count

    div#sendMessageToAdmin
      form(name="add-estimation", method="post")
        div.input
          div.label Your name
          input(type="text", name="name")#name
        div.input
          div.label Send a message to the group
          textarea(name="message", cols="40", rows="5")#message-to-group
        div.actions
          input(type="submit", value="Send")#send-message-to-group

script(src='/socket.io/socket.io.js')
script(src='/client.js')
