doctype html
html(lang="en")
  head
    title= title
  body

    div#status-message

    div#connection-count

    div#poll-display

    div#instructions

    h2= 'Poll Question: ' + poll.question

    div#choices
      p Please choose an option below.

      div
        button#a= poll.a
      div
        button#b= poll.b
      div
        button#c= poll.c

    div#vote-count

    div#group-message
      h4 Group Messages
      if poll.messages
        ul
        each val in poll.messages
          li= val
      else
        p No messages to display.

    div#sendMessageToAdmin
      h4 Send a New Message

      form(name="add-estimation", method="post")
        div.input
          div.label Your name
          input(type="text", name="name")#name
        div.input
          div.label Send a message to the group
          textarea(name="message", cols="40", rows="5")#message-to-group
        div.actions
          input(type="submit", value="Send")#send-message-to-group

    div
      a(href='/polls') Click here to create a new poll.

script(src='/socket.io/socket.io.js')
script(src='/client.js')
