doctype html
html(lang="en")
  head
    title= title
  body
    h3= title

    div#status-message

    div#connection-count

    div#poll-display

    div#instructions

    h5= poll.question

    div#choices
      button#a= poll.a
      button#b= poll.b
      button#c= poll.c

    div#vote-count

    script(src='/socket.io/socket.io.js')
    script(src='/client.js')
